extends layout

block content
  h1.welcome 
    | Welcome to #{title} 
    span.name Susannah!
  
  .container-fluid
    .row
      .col-md-10.col-sm-8
        .problemSet
          .problem-set-setup
      .col-md-2.col-sm-4
        .stats-section
    
block javascripts
  script(src='/assets/timer.js')
  script(src='/assets/problem.js')
  script(src='/assets/problem_set.js')
  script.
    new ProblemSet($('.problemSet'), { debug: false });
    
